@model IEnumerable<OrderDetails>
@{
    ViewData["title"] = "Order Details";
    decimal total = 0;
    decimal subtotal = 0;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Order details</h3>
    <table class="table" id="detail_Order" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Order Code</th>
                <th>UserName</th>
                <th>Product Name</th>
                <th>Product Price</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                subtotal = item.Quantity + item.Price;
                total += subtotal;
                <tr>
                    <input type="hidden" asp-for="@item.OrderCode" class="getId" />
                    <td>@item.Id</td>
                    <td>@item.OrderCode</td>
                    <td>@item.UserName</td>
                    <td>@item.Product.Name</td>
                    <td>@item.Price.ToString("#,##0 VNĐ")</td>
                    <td>@item.Quantity</td>
                        <td>@subtotal.ToString("#,##0 VNĐ")</td>
                </tr>
            }
            <tr>
                <td>Total:</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <select class="form-control select-update-order">
                        <option value="1">Đơn hàng mới</option>
                        <option value="0">Đã xử lý</option>
                    </select>
                </td>
            </tr>     
        </tbody>
    </table>
    <a asp-action="Index">Back to List Order</a>

</body>

</html>


@section Scripts{

        <script>
             new DataTable('#detail_Order', {
                layout: {
                    topStart: {
                        buttons: ['pdf', 'print']
                    }
                }
            });
        </script>
    <script>
        $(document).ready(function () {
            $('.select-update-order').change(function () {
                var status = $(this).val();
                var ordercode = $('.getId').val();

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateOrder")",
                    data: { status: status, ordercode: ordercode }, // Gửi dữ liệu đến server
                    success: function (result) {
                        // Xử lý khi cập nhật thành công
                        if (result.success) {
                            // Cập nhật UI hoặc hiển thị thông báo thành công
                            // console.log("Update successful");
                            Swal.fire("Cập nhật đơn hàng thành công");
                        } else {
                            // Xử lý lỗi
                            Swal.fire({
                                icon: "error",
                                title: "Oops...",
                                text: "Cập nhật đơn hành thất bại "
                            });

                        }
                    }
                });
            });
        });
    </script>
}
