
@{
    ViewData["title"] = "List Compare";
    var key = 0;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width">
</head>
<body>

    <h3>List Products</h3>

    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Product Name</th>
                <th>Product Description</th>
                <th>Product Price</th>
                <th>Product Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var compare_product in Model)
            {
                key++;
                <tr>
                    <th> @key</th>
                    <td>@compare_product.Product.Name</td>
                    <td>@Html.Raw(@compare_product.Product.Description)</td>
                    <td>@compare_product.Product.Price.ToString("#,##0 VNĐ")</td>
                    <td> <img src="~/media/products/@compare_product.Product.Image" width="120" /></td>
                    <td><a class="btn btn-danger btn-sm comfirmDeletion " asp-action="DeleteCompare" asp-controller="Home" asp-route-Id="@compare_product.Compares.Id">Delete</a></td>

                </tr>

            }

        </tbody>
    </table>
</body>

@section Scripts{
    <script>
        let table = new DataTable('#myTable');
    </script>
}
</html>




