@model ContactModel

<div class="row">
    <div class="col-sm-5 col-md-5">
        @Html.Raw(@Model.Map)
        @Html.Raw(Model.Description)
    </div>
    <div class="col-sm-4" style="margin-left:185px;">
        <div class="address">
            <h5><b>Name: @Model. Name</b></h5>
            <h5>Email: @Model. Email</h5>
            <h5>@Model.Phone</h5>
        </div>
    </div>

    <div class="col-md-4" style="margin-left:185px;">
        <div class="fb-page" data-href="https://www.facebook.com/www.mwc.vn" 
        data-tabs="100%" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/www.mwc.vn" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/www.mwc.vn">MWC Shop</a></blockquote></div>
    </div>

</div>