@model IEnumerable<ProductModel>
@{
    ViewData["title"] = "PHV";
    Paginate pager = new Paginate();

    int pageNo = 0;
    int temp = 0 ;

	if (ViewBag.Pager != null)
	{
		pager = ViewBag.Pager;
		pageNo = pager.CurrentPage;
	}
}



<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>

    <partial name="_SliderPartial" />

    <div class="row">
        <div class="col-sm-3">
            @Html.Partial("_SidebarPartial")
        </div>

        <div class="col-sm-9 padding-right">
            <div class="features_items">
                <!--features_items-->
                <h2 class="title text-center">Features Items</h2>
                @foreach (var item in Model)
                {

                    <div class="col-sm-4">
                        <div class="product-image-wrapper">

                            <div class="single-products">

                                <div class="productinfo text-center">
                                    <a asp-action="Details" asp-controller="Product" asp-route-Id="@item.Id">
                                        <img src="~/media/products/@item.Image" alt="@item.Name" width="100%" />
                                        <h2>@item.Price.ToString("#,##0 VNĐ")</h2>
                                        <p>Danh mục: @item.Category.Name</p>
                                        <p>Thương hiệu: @item.Brand.Name</p>
                                    </a>

                                    @* <a class="btn btn-default add-to-cart" asp-action="Add"  asp-controller="Cart" asp-route-Id="@item.Id"><i class="fa fa-shopping-cart"></i>Add to cart</a> *@
                                    @if (item.Quantity > 0)
                                    {
                                        <button class="btn btn-default add-to-cart" data-product_id=@item.Id><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng </button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-default" ><i class="fa fa-shopping-cart"></i>Hết hàng </button>

                                    }
                                </div>

                            </div>
                            <div class="choose">
                                @if (User.Identity?.IsAuthenticated ?? false)
                                {
                                    <ul class="nav nav-pills nav-justified">
                                        <li>
                                            <button class="btn btn-danger add-btn-wishlist" data-product_id="@item.Id">Yêu thích</button>
                                        </li>
                                        <li>
                                            <button class="btn btn-primary add-btn-compare" data-product_id="@item.Id">So sánh</button>
                                        </li>


                                    </ul>
                                    
                                }
                            </div>
                        </div>
                    </div>

                }
            </div><!--features_items-->




            @section Scripts {
                <script>
                    $(document).ready(function () {
                        $('.add-to-cart').click(function () {
                            var Id = $(this).data("product_id");

                            $.ajax({
                                type: "POST",
                                url: "@Url.Action("Add", "Cart")",
                                data: { Id: Id }, // Gửi dữ liệu đến server
                                success: function (result) {
                                    // Xử lý khi cập nhật thành công
                                    if (result) {
                                        // Cập nhật UI hoặc hiển thị thông báo thành công
                                        // console.log("Update successful");
                                        Swal.fire({
                                            position: "center",
                                            icon: "success",
                                            title: "Thêm vào giỏ hàng thành công",
                                            showConfirmButton: false,
                                            timer: 1500
                                        });
                                    } else {
                                        // Xử lý lỗi
                                        Swal.fire({
                                            icon: "error",
                                            title: "Oops...",
                                            text: "Lỗi thêm vào giỏ hàng  "
                                        });

                                    }
                                }
                            });
                        });
                    });
                </script>
               
                <!-- Add WishList Script-->
                <script>
                    $(document).ready(function () {
                        $('.add-btn-wishlist').click(function () {
                            var Id = $(this).data("product_id");

                            $.ajax({
                                type: "POST",
                                url: "@Url.Action("AddWishlist", "Home")",
                                data: { Id: Id }, // Gửi dữ liệu đến server
                                success: function (result) {
                                    // Xử lý khi cập nhật thành công
                                    if (result) {
                                        // Cập nhật UI hoặc hiển thị thông báo thành công
                                        // console.log("Update successful");
                                        Swal.fire({
                                            position: "center",
                                            icon: "success",
                                            title: "Thêm yêu thích thành công",
                                            showConfirmButton: false,
                                            timer: 1500
                                        });
                                    } else {
                                        // Xử lý lỗi
                                        Swal.fire({
                                            icon: "error",
                                            title: "Oops...",
                                            text: "Lỗi thêm vào mục yêu thích  "
                                        });

                                    }
                                }
                            });
                        });
                    });
                </script>
               
                <!-- Add Compare Script-->
                <script>
                    $(document).ready(function () {
                        $('.add-btn-compare').click(function () {
                            var Id = $(this).data("product_id");

                            $.ajax({
                                type: "POST",
                                url: "@Url.Action("AddCompare", "Home")",
                                data: { Id: Id }, // Gửi dữ liệu đến server
                                success: function (result) {
                                    // Xử lý khi cập nhật thành công
                                    if (result) {
                                        // Cập nhật UI hoặc hiển thị thông báo thành công
                                        // console.log("Update successful");
                                        Swal.fire({
                                            position: "center",
                                            icon: "success",
                                            title: "Thêm so sánh thành công",
                                            showConfirmButton: false,
                                            timer: 1500
                                        });
                                    } else {
                                        // Xử lý lỗi
                                        Swal.fire({
                                            icon: "error",
                                            title: "Oops...",
                                            text: "Lỗi thêm so sánh "
                                        });

                                    }
                                }
                            });
                        });
                    });
                </script>

            }


        </div>

  
            
       <div class="container" style="text-align:center;">
                @if (pager.TotalPages > 0) //2 trang
                {
                    <ul class="pagination justify-content-end">

                        @if (pager.CurrentPage > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="Index"
                                   asp-route-pg="1">First</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" asp-action="Index"
                                   asp-route-pg="@(pager.CurrentPage - 1)">Previous</a>
                            </li>
                        }
                        @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++) //1 = 1 <= 2
                        {
                            <li class="page-item @(pge==pager.CurrentPage ? "active" : "")">
                                <a class="page-link" asp-action="Index" asp-route-pg="@pge">@pge</a>
                            </li>


                        }
                        @if (pager.CurrentPage < pager.TotalPages)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="Index"
                                   asp-route-pg="@(pager.CurrentPage+1)">Next</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" asp-action="Index"
                                   asp-route-pg="@(pager.TotalPages)">Last</a>
                            </li>
                        }
                    </ul>
                }
            </div>
    </div>

</body>
</html>



