@model ContactModel

<head>
    <style>
        .row{
            width:100%;
        }

        setup {
            margin-left:100px; 
         }
    </style>
</head>

<div class="row">

  
 <div class="col-sm-3">
       <div class="companyinfo">
            <p><img src="~/media/logo/@Model.LogoImage" alt="@Model.Name" width="200px" height="120px" /></p>
            <p> @Html.Raw(@Model.Description) </p>
       </div>
 </div>

        <div class="col-sm-5 col-md-5">
             @Html.Raw(@Model.Map)
        </div>


        <div class="col-sm-4 setup">
            <div class="address">
                <h5><b>Name: @Model.Name</b></h5>
                <h5>Email: @Model.Email</h5>
                <h5>Phone: @Model.Phone</h5>
           </div>
        </div>
</div>
